#heading {
   padding: 5px;
   height: 50px;
   margin-bottom: 1px;
   background: #fefefe;
   left: 5px;
   border: 1px solid darkGray;
}


#content {
   padding: 5px;
   border: thin solid lightGray;
   background: #fcfcfc;
   position: absolute;
   right: 8px;
   left: 8px;
   top: 150px;
}




